html
  head
    title Liste
  body
    h1 Liste
    ul
      each file in files
        li
          a(href='/play/'+file)= file
    p
      a(href='/stop') Stop
    form(action="/download", method="post")
      input(type="text", name="url")
      input(type="submit", value="download")
    pre
      each line in outputbuffer
        = line
    
