body {
	background-color: rgb(0, 15, 5);
	color: rgb(120, 200, 140);
	font-family: sans-serif;
}

body a {
	color: inherit;
}

#mainlist {
	padding: 0;
}

#mainlist:after {
	content: "";
	display: block;
	clear: both;
}


li.medium {
	display: block;
	position: relative;
	list-style: none;
	margin: 0;
	border-left: 3px solid black;
	width: 480px;
	height: 80px;
	transition: border 150ms linear;
	overflow: hidden;
}

li.medium:hover {
	border-left-color: red;
}

li.medium .preview {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 480px;
	height: 80px;

}

li.medium img {
	position: relative;
	top: 50%;
	display: block;
	width: 480px;
	height: auto;
	transform: translate(0, -50%);
}

li.medium .meta {
	position: absolute;
	inset: 0;
	padding: 2px;
	opacity: 0;	
	color: white;
	transition: opacity 300ms;
	background: rgba(0, 0, 0, 0.5);
}

li.medium .meta:hover,
.now-playing li.medium .meta {
	opacity: 1;
}

li.medium .meta h2 {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
}

#output {
	position: fixed;
	display: block;

	width: 50px;
	right: 0;
	top: 0;
	bottom: 0;

	overflow: scroll;
}
